footer.footer-basic
    p.copyright James B, Hilmi AH &copy; #{_brand} 2022
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js')
script(src='/js/script.min.js')