<!DOCTYPE html>
<html>
	<head><title>Customer Update Selection</title></head>
	<body>
		<h1>Please select a customer to update</h1>
		<form method="get" action="/get-update">
			Customer: <select name="custid" onchange="this.form.submit();">
				<option value="">Select a customer to update</option>
		<%	result.forEach((customer)=>{ %>
			<option value="<%= customer.CustomerId %>"><%= customer.CustFirstName %> <%= customer.CustLastName %></option>
		<%	}); %>
			</select>
		</form>
	</body>
</html>