<!DOCTYPE html>
<html>

<head>
	<title>Customer Display</title>
</head>

<body>
	<form method="get" action="/get-one">
		Customer:
		<select name="custid" onchange="this.form.submit();">
			<option value="">Select a customer</option>
			<% result.forEach((customer)=>{ %>
				<option value="<%= customer.CustomerId %>">
					<%= customer.CustFirstName %>
					<%= customer.CustLastName %>
				</option>
			<% }); %>
		</select>
	</form>
</body>

</html>