doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title #{_title}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.min.css')

include includes/navbar.pug

section.contact-clean
    form(id="register" method='POST' action="/insert-customer-post")
        h2.text-center Register Customer
        input#name.form-control(type='text' name='CustomerName' placeholder='Full Name' required='' autofocus='')
        input#email.form-control.mt-3(type='email' placeholder='Email' name='CustomerEmail' required='')
        input#postal.form-control.mt-3(type='text' name='CustomerPostal' placeholder='Postal Code (A1A 1A1)' pattern='[a-zA-Z][0-9][a-zA-Z](-| |)[0-9][a-zA-Z][0-9]' required)
        input#password.form-control.mt-3(type='password' name='CustomerPassword' placeholder='Password' required='')
        button#confirm.btn.btn-primary(type='submit') Register

include includes/footer.pug
