nav.navbar.navbar-dark.navbar-expand-xl.bg-primary
    .container-fluid
        a.navbar-brand(href='/') #{_brand}
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navcol-1')
            span.visually-hidden Toggle navigation
            span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item 
                    a.nav-link(href='agencies') Agencies 
                li.nav-item
                    a.nav-link(href='contact') Contact Us
                li.nav-item
                    a.nav-link(href='insert-customer') Register Customer
                li.nav-item
                    a.nav-link(href='delete-customer') Delete Customer
                li.nav-item
                    a.nav-link(href='display-customer') Display Customer
                li.nav-item
                    a.nav-link(href='update-customer') Update Customer
                li.nav-item
                    a.nav-link(href='display-customer-get-all') Customer List
                li.nav-item
                    a.nav-link(href='bookings') View Bookings 